<header>
  <nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto py-[16px] px-[24px]">
      <!-- Logo and Title -->
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <logo />
      </a>

      <!-- Mobile Menu Toggle -->
      <!-- <button class="inline-flex items-center p-2 md:hidden">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
        </svg>
      </button> -->

      <!-- Navigation Links -->
      <div class="hidden md:flex space-x-8">
        <!-- Add links here if needed -->
      </div>

      <div class="relative">
        <button z-button zType="icon" z-menu [zMenuTriggerFor]="userManager">
          <img src="/images/auth/customer.jpg" alt="User Profile" class="w-8 h-8 rounded-full">
          <span class="font-placeholder">
            {{ userName }}
          </span>
          <z-icon zType="chevron-down" class="ml-1" />
        </button>

        <ng-template #userManager>
          <div z-menu-content class="w-48">
            <button 
              z-menu-item
              (click)="goToSettings()"
              class="font-body"
            >
              <z-icon zType="settings" class="ml-1" />
              Settings
            </button>
            <button
              z-menu-item
              (click)="handleLogout()"
              class="font-body"
            >
              <z-icon zType="logout" class="ml-1" />
              Logout
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
