<header id="app-header" class="container mx-auto">
  <nav class="bg-surface-light mt-[24px] border-[2px] rounded-[12px] px-[16px]">
    <div
      class="max-w-screen-xl flex items-center justify-between mx-auto py-[12px] max-sm:px-[12px]"
    >
      <!-- Logo and Title -->
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <logo />
      </a>

      <!-- Mobile Menu Toggle -->
      <button class="inline-flex items-center p-2 md:hidden">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/>
        </svg>
      </button>

      <!-- Navigation Links -->
      <div class="hidden md:flex items-center content-center space-x-8">
        <a
          class="font-link"
          routerLink="/"
          routerLinkActive="active-nav"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Home
        </a>

        <a
          class="font-link"
          routerLink="/designs"
          routerLinkActive="active-nav"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Designs
        </a>
        
        <a
          class="font-link"
          routerLink="/makers"
          routerLinkActive="active-nav"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Makers
        </a>

        <a
          class="font-link"
          routerLink="/story"
          routerLinkActive="active-nav"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          Our Story
        </a>
      </div>

      <button
        (click)="navigateToAuth()"
        class="font-body"
        z-button
      >
        Join Now
      </button>
    </div>
  </nav>
</header>
