<div class="flex flex-col gap-1 bg-card p-4 rounded-lg h-full" *transloco="let t">
  <div class="flex justify-between font-semibold text-md">
    <small>
      <span class="text-sm font-thin"> {{ t('responseKeys.createdAt') }} </span> : {{ job.createdAt | date:'MMM d, y':undefined:langService.locale() }}
    </small>

    <div class="flex items-center gap-1">
      <z-badge
        zShape="pill"
       [class]="getStatusColor(job.status)"
       class="!text-sm"
      >
        {{ t(`features.customers.jobs.jobStatus.${job.status}`) }}
      </z-badge>


      <div class="relative">
        <z-button
          zType="ghost"
          zSize="icon-lg"
          z-menu
          [zMenuTriggerFor]="optionsMenu"
        >
          <ng-icon name="lucideEllipsisVertical" />
        </z-button>

        <ng-template #optionsMenu>
          <div z-menu-content>
            <button
              type="button"
              z-menu-item
            >
              Analytics
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <h2 class="font-semibold text-md" [dir]="getTextDir(job.title)">
    {{ job.title }}
  </h2>

  <p class="line-clamp-2" [dir]="getTextDir(job.description)">
    {{ job.description }}
  </p>
</div>
