<z-card
   class="relative w-[70vw] sm:w-[320px] md:w-[360px] lg:w-[400px] aspect-[2/3] overflow-hidden rounded-2xl group cursor-pointer bg-white select-none"
   *transloco="let t"
>
  <!-- Background Image -->
  <img
    [ngSrc]="maker.imgPath"
    [alt]="maker.name"
    fill
    class="absolute inset-0 w-full h-full object-cover group-hover:scale-[1.05] transition-all duration-500 ease-out will-change-transform"
  />




  <!-- Gradient Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/30 to-transparent"
  ></div>

  <div class="absolute top-6 left-0 right-0 text-center text-white px-[24px]">
    <z-badge class="font-h4 font-thin">
      <span class="font-semibold me-2">
        {{ t('features.home.makers.badge.brand') }}
      </span>
        {{ t('features.home.makers.badge.role') }}
    </z-badge>
  </div>

  <!-- Content -->
  <div class="absolute bottom-6 left-0 right-0 text-white text-center px-6">

    <h3 class="font-h3 font-semibold">
      {{ t(maker.name) }}
    </h3>

    <p class="font-caption text-white/80 line-clamp-2">
      {{ t(maker.quote) }}
    </p>
  </div>
</z-card>