<div
  [ngClass]="[
    layoutVariant() === 'default'
      ? 'relative bg-[url(/images/app-abstraction.webp)] dark:bg-[url(/images/app-abstraction-dark.webp)] bg-cover bg-center before:content-[\'\'] before:absolute before:inset-0 before:bg-background before:opacity-80 dark:before:opacity-70 before:pointer-events-none'
      : ''
  ]"
>
  <woodia-header [menu]="menu()"></woodia-header>

  <div
    [ngClass]="[
      'relative z-10 container mx-auto my-4',
      layoutVariant() === 'default'
        ? 'py-[72px] px-[24px] max-sm:px-[12px]'
        : 'py-[16px max-sm:px-[12px]'
    ]"
  >
    <router-outlet></router-outlet>
  </div>

  <woodia-footer
    [menu]="menu()"
    class="relative z-10"
  />
</div>
