<div class="h-[100dvh] grid grid-cols-2 max-lg:grid-cols-1 gap-4 max-md:p-4" *transloco="let t">
  <div class="h-full flex flex-col">
    <!-- Logo -->
    <logo [wText]="true" class="p-2 md:self-start max-md:mb-4" />

    <!-- Step 1: User Type -->
    @if(registerStep() === 'userType') {
    <div
      class="w-[70%] max-2xl:w-[90%] max-xl:w-full max-lg:w-[70%] max-md:w-[80%] max-sm:w-full m-auto space-y-[40px]">
      <!-- Title -->
      <h3 class="font-h3 text-center">
        {{ t('features.auth.register.userTypeTitle') }}
      </h3>

      <div class="flex flex-col gap-4">
        <div
          class="flex max-md:flex-row flex-nowrap items-center gap-4 p-4 max-md:p-2 bg-background rounded-lg border-2 border-border transition-colors duration-300 ease-out"
          [class]="userType() == 'customer' ? 'bg-muted' : ''" (click)="setUserTypeCustomer()">
          <div class="p-4 bg-muted border-2 border-border rounded-lg transition-colors duration-300 ease-out"
            [class]="userType() === 'customer' ? '!bg-background' : ''">
            <ng-icon name="lucideShoppingBag" size="24" />
          </div>

          <div class="flex flex-col">
            <h4 class="font-h4">
              {{ t('features.auth.register.customer') }}
            </h4>

            <p>
              {{ t('features.auth.register.customerDesc') }}
            </p>
          </div>
        </div>

        <div
          class="flex max-md:flex-row flex-nowrap items-center gap-4 p-4 max-md:p-2 bg-background rounded-lg border-2 border-border transition-colors duration-300 ease-out"
          [class]="userType() === 'maker' ? 'bg-muted' : ''" (click)="setUserTypeMaker()">
          <div class="p-4 bg-muted border-2 border-border rounded-lg transition-colors duration-100 ease-out"
            [class]="userType() === 'maker' ? '!bg-background' : ''">
            <ng-icon name="lucideHammer" size="24" />
          </div>

          <div class="flex flex-col">
            <h4 class="font-h4">
              {{ t('features.auth.register.maker') }}
            </h4>

            <p>
              {{ t('features.auth.register.makerDesc') }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <button zFull z-button zSize="xl" (click)="setStepCredentials()">
          {{ t('features.auth.register.continueAs') }} {{ t('features.auth.register.' + userType()) }}
          <ng-icon [name]="langService.isRtl() ? 'lucideArrowRight' : 'lucideArrowLeft'" />
        </button>

        <div class="flex flex-row justify-center items-center">
          <p class="font-body">
            {{ t('features.auth.register.alreadyHaveAccount') }}
          </p>
          <button class="text-primary font-body" z-button zSize="sm" zType="link" (click)="goToLogin()">
            {{ t('features.auth.register.login') }}
          </button>
        </div>
      </div>
    </div>
    }

    <!-- Step 2: User Credentials -->
    @if (registerStep() === 'credentials') {
    <div class="w-[80%] max-xl:w-full max-lg:w-[60%] max-md:w-[80%] max-sm:w-full my-auto mx-auto space-y-[40px]">
      <!-- Title -->
      <div class="flex flex-col gap-[16px] max-xl:text-center">
        <h3 class="font-h3 leading-1">
          {{ t('features.auth.register.getStartedNow') }}
        </h3>
        <p class="font-body">
          {{ t('features.auth.register.enterCredentialsDesc') }}
        </p>
      </div>

      <!-- Social Register -->
      <button class="bg-white text-foreground/50" zFull z-button zType="outline" zSize="xl"
        (click)="handleGoogleSignUp()">
        <img ngSrc="/icons/google-logo.svg" alt="Google Logo" width="24" height="24"
          class="size-[24px] object-fit-cover">
        {{ t('features.auth.register.signUpWithGoogle') }}
      </button>

      <!-- Divider -->
      <div class="flex flex-row flex-nowrap items-center gap-[16px]">
        <z-divider />
        <p class="font-body">
          {{ t('features.auth.login.or') }}
        </p>
        <z-divider />
      </div>

      <!-- Form -->
      <form [formGroup]="registerForm" (ngSubmit)="handleCredentialsSubmit()" class="space-y-6 my-[40px]">
        <div class="grid grid-cols-2 max-md:grid-cols-1 gap-2">
          <z-form-field>
            <label class="font-label w-full" z-form-label zRequired>
              {{ t('features.auth.register.firstName') }}
            </label>
            <z-form-control>
              <input z-input type="text" [placeholder]="t('features.auth.register.firstNamePlaceholder')"
                formControlName="firstName"
                [zStatus]="firstNameControl.invalid && firstNameControl.touched ? 'error' : undefined" />
            </z-form-control>
            @if (firstNameControl.hasError('required') && firstNameControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.register.firstNameRequired')
              }}</z-form-message>
            }
          </z-form-field>

          <z-form-field>
            <label class="font-label" z-form-label zRequired>
              {{ t('features.auth.register.lastName') }}
            </label>
            <z-form-control>
              <input z-input type="text" [placeholder]="t('features.auth.register.lastNamePlaceholder')"
                formControlName="lastName"
                [zStatus]="lastNameControl.invalid && lastNameControl.touched ? 'error' : undefined" />
            </z-form-control>
            @if (lastNameControl.hasError('required') && lastNameControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.register.lastNameRequired')
              }}</z-form-message>
            }
          </z-form-field>
        </div>

        <z-form-field>
          <label class="font-label" z-form-label zRequired>
            {{ t('features.auth.login.email') }}
          </label>
          <z-form-control>
            <input z-input type="email" [placeholder]="t('features.auth.register.emailPlaceholder')"
              formControlName="email" [zStatus]="emailControl.invalid && emailControl.touched ? 'error' : undefined" />
          </z-form-control>
          @if (emailControl.hasError('required') && emailControl.touched) {
          <z-form-message class="font-caption" zType="error">{{ t('features.auth.login.emailRequired')
            }}</z-form-message>
          } @else if (emailControl.hasError('email') && emailControl.touched) {
          <z-form-message class="font-caption" zType="error">{{ t('features.auth.login.emailInvalid')
            }}</z-form-message>
          }
        </z-form-field>

        <div class="grid grid-cols-2 md:place-items-center max-md:grid-cols-1 gap-[20px]">
          <z-form-field>
            <label class="font-label" z-form-label zRequired>
              {{ t('features.auth.login.password') }}
            </label>
            <z-form-control>
              <z-input-group [zAddOnAfter]="showPasswordIcon">
                <input z-input [type]="showPassword() ? 'text' : 'password'"
                  [placeholder]="t('features.auth.login.passwordPlaceholder')" formControlName="password"
                  [zStatus]="passwordControl.invalid && passwordControl.touched ? 'error' : undefined" />
              </z-input-group>

              <ng-template #showPasswordIcon>
                <ng-icon class="text-foreground/50" [name]="showPassword() ? 'lucideEyeOff': 'lucideEye'"
                  (click)="togglePasswordVisibility()" />
              </ng-template>
            </z-form-control>
            @if (passwordControl.hasError('required') && passwordControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.login.passwordRequired')
              }}</z-form-message>
            } @else if (passwordControl.hasError('minlength') && passwordControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.login.passwordMinlength')
              }}</z-form-message>
            } @else if (passwordControl.hasError('passwordStrength') && passwordControl.touched) {
            <z-form-message class="font-caption" zType="error">
              @if (passwordControl.getError('passwordStrength')) {
              <ng-container>
                @if (!passwordControl.getError('passwordStrength').hasUpper) {
                <span>• {{ t('features.auth.register.passwordStrengthUpper') }}</span>
                }
                @if (!passwordControl.getError('passwordStrength').hasLower) {
                <span>• {{ t('features.auth.register.passwordStrengthLower') }}</span>
                }
                @if (!passwordControl.getError('passwordStrength').hasSpecial) {
                • {{ t('features.auth.register.passwordStrengthSpecial') }}
                }
              </ng-container>
              }
            </z-form-message>
            }
          </z-form-field>

          <z-form-field>
            <label class="font-label" z-form-label zRequired>
              {{ t('features.auth.register.confirmPassword') }}
            </label>
            <z-form-control>
              <z-input-group [zAddOnAfter]="showConfirmPasswordIcon">
                <input z-input [type]="showConfirmPassword() ? 'text' : 'password'"
                  [placeholder]="t('features.auth.login.passwordPlaceholder')" formControlName="confirmPassword"
                  [zStatus]="confirmPasswordControl.invalid && confirmPasswordControl.touched ? 'error' : undefined" />
              </z-input-group>

              <ng-template #showConfirmPasswordIcon>
                <ng-icon class="text-foreground/50" [name]="showConfirmPassword() ? 'lucideEyeOff': 'lucideEye'"
                  (click)="toggleConfirmPasswordVisibility()" />
              </ng-template>
            </z-form-control>
            @if (confirmPasswordControl.hasError('required') && confirmPasswordControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.login.passwordRequired')
              }}</z-form-message>
            } @else if (registerForm.hasError('passwordMismatch') && confirmPasswordControl.touched) {
            <z-form-message class="font-caption" zType="error">{{ t('features.auth.register.passwordMismatch')
              }}</z-form-message>
            }
          </z-form-field>
        </div>

        <z-form-field>
          <z-form-control class="flex flex-col justify-center">
            <div class="flex items-center space-x-2">
              <z-checkbox id="agreeToTerms" formControlName="agreeToTerms" />
              <label class="font-label text-nowrap" z-form-label for="agreeToTerms">
                {{ t('features.auth.register.agreeToTerms') }}
              </label>
            </div>
          </z-form-control>
        </z-form-field>

        <div class="space-y-[4px]">
          <button [disabled]="registerForm.invalid" [zLoading]="registerFormLoading()" type="submit" z-button zFull
            zSize="xl">
            {{ t('features.auth.register.registerButton') }}
          </button>

          <div class="flex flex-row justify-center items-center">
            <p class="font-body">
              {{ t('features.auth.register.alreadyHaveAccount') }}
            </p>
            <button class="text-primary font-body" z-button zSize="sm" zType="link" (click)="goToLogin()">
              {{ t('features.auth.register.login') }}
            </button>
          </div>
        </div>
      </form>
    </div>
    }


    <!-- Step 3 User Type -->
    @if (registerStep() === 'verification') {
    <div class="w-[80%] max-xl:w-full max-lg:w-[60%] max-md:w-[80%] max-sm:w-full my-auto mx-auto space-y-[40px]">

      <!-- Title -->
      <div class="flex flex-col gap-[16px] text-center">
        <h2 class="font-h2 leading-1 font-medium">
          {{ t('features.auth.register.verificationTitle') }}
        </h2>
        <p class="font-body text-foreground/50">
          {{ t('features.auth.register.verificationDesc') }}
          <span class="text-primary">
            {{ userEmail }}
          </span>
        </p>
      </div>

      <form [formGroup]="emailVerificationForm" (ngSubmit)="handleVerificationSubmit()" class="space-y-6 my-[40px]">
        <z-form-field>
          <label class="font-label" z-form-label zRequired>
            {{ t('features.auth.register.code') }}
          </label>
          <z-form-control>
            <input z-input type="text" [placeholder]="t('features.auth.register.codePlaceholder')"
              formControlName="code" />
          </z-form-control>
        </z-form-field>

        <button zFull z-button zType="default" zSize="xl" [disabled]="emailVerificationForm.invalid"
          [zLoading]="codeVerificationLoading()">
          {{ t('features.auth.register.verifyAccount') }}
        </button>
      </form>

      <div class="flex flex-row justify-center items-center">
        <p>
          {{ t('features.auth.register.didntReceiveCode') }}
        </p>
        <button z-button zType="link" (click)="resendConfirmation()">
          {{ t('features.auth.register.resend') }}
        </button>
      </div>

    </div>
    }

  </div>

  <div class="overflow-hidden relative w-full h-full rounded-[12px] max-lg:hidden bg-muted">
    @if (videoLoading()) {
    <div
      class="absolute inset-0 flex items-center justify-center bg-background/50 backdrop-blur-sm z-10 transition-opacity duration-300">
      <ng-icon name="lucideLoaderCircle" class="animate-spin text-4xl text-primary" />
    </div>
    }
    <video #videoPlayer class="w-full h-full object-cover transition-opacity duration-500"
      [class.opacity-0]="videoLoading()" [class.opacity-100]="!videoLoading()" [src]="currentVideo" autoplay muted
      playsinline preload="auto" (ended)="playNext()" (canplay)="videoLoading.set(false)"
      (waiting)="videoLoading.set(true)" (playing)="videoLoading.set(false)"></video>
  </div>
</div>