<div class="h-full grid grid-cols-2 max-lg:grid-cols-1 gap-[16px]">
    <div class="h-full flex flex-col">
      <!-- Logo -->
      <logo class="mb-[40px]" />

      <div class="w-[80%] max-xl:w-full max-lg:w-[60%] max-md:w-[80%] max-sm:w-full my-auto mx-auto space-y-[40px]">
        <!-- Title -->
        <div class="flex flex-col gap-[16px] max-2xl:text-center">
          <h3 class="font-h3 leading-1">
            Welcome Back
          </h3>
          <p class="font-body">
            Enter your Credentials to access your account
          </p>
        </div>

        <!-- Social Login -->
        <div class="flex fle-row flex-nowrap items-center justify-center gap-[8px] mb-[8px]">
          <i class="text-warning-600" z-icon zType="triangle-alert"></i>
          <p class="font-caption text-warning-600 text-center">Social Login is currently disabled</p>
        </div>
        <div class="grid grid-cols-2 max-2xl:grid-cols-1 gap-[16px]">
          <button 
            class="bg-white text-black/50 hover:bg-white/50 font-primary text-button font-medium"
            zFull
            z-button
            zType="default"
            (click)="handleGoogleSignIn()"
            disabled
          >
            <img 
              src="/icons/google-logo.svg" 
              alt="Gradient Image" 
              class="w-[24px] h-[24px] object-fit-cover"
            >
            Login with Google
          </button>
          <button 
            class="w-full bg-[#1877F2] text-white hover:bg-[#1877F2]/80 font-primary text-button font-medium"
            z-button
            zType="default"
            disabled
          >
            <img 
              src="/icons/facebook-logo.svg" 
              alt="Gradient Image" 
              class="w-[24px] h-[24px] object-fit-cover"
            >
            Login with Facebook
          </button>
        </div>

        <!-- Divider -->
        <div class="flex flex-row flex-nowrap items-center gap-[16px]">
          <z-divider class="bg-black/25" />
          <p class="font-body">
            or
          </p>
          <z-divider class="bg-black/25" />
        </div>

        <!-- Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6 my-[40px]">
          <z-form-field>
            <label
              class="font-label"
              z-form-label
              zRequired
            >
              Email
            </label>
            <z-form-control>
              <input
                z-input
                type="email"
                placeholder="Enter your email"
                formControlName="email"
                [zStatus]="emailControl.invalid && emailControl.touched ? 'error' : undefined"
              />
            </z-form-control>

            @if (emailControl.hasError('required') && emailControl.touched) {
              <z-form-message class="font-caption" zType="error">Email is required.</z-form-message>
            } @else if (emailControl.hasError('email') && emailControl.touched) {
              <z-form-message class="font-caption" zType="error">Enter a valid email address.</z-form-message>
            }
          </z-form-field>

          <z-form-field>
            <label
              class="font-label"
              z-form-label
              zRequired
            >
              Password
            </label>
            <z-form-control>
              <div class="relative">
                <input
                  z-input
                  [type]="showPassword() ? 'text' : 'password'"
                  placeholder="min 8 characters"
                  formControlName="password"
                  [zStatus]="passwordControl.invalid && passwordControl.touched ? 'error' : undefined"
                />

                <button
                  class="absolute top-[8px] right-[16px] text-primary-300 font-heading text-body text-medium"
                  z-button
                  zSize="sm"
                  zType="icon"
                  type="button"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    class="text-black/50"
                    z-icon
                    [zType]="showPassword() ? 'eye-off': 'eye'"
                  ></i>
                </button>
              </div>
            </z-form-control>
            @if (passwordControl.hasError('required') && passwordControl.touched) {
              <z-form-message class="font-caption" zType="error">Password is required.</z-form-message>
            } @else if (passwordControl.hasError('minlength') && passwordControl.touched) {
              <z-form-message class="font-caption" zType="error">Password must be at least 8 characters.</z-form-message>
            } @else if (passwordControl.hasError('backend') && passwordControl.touched) {
              <z-form-message class="font-caption" zType="error">{{ passwordControl.getError('backend') }}</z-form-message>
            }
          </z-form-field>

          <div class="flex flex-row content-center justify-between">
            <z-form-field>
              <z-form-control class="flex flex-col justify-center">
                <div class="flex items-center space-x-2">
                  <z-checkbox
                    id="rememberMe"
                    formControlName="rememberMe"
                    z-size="lg"
                  />
                  <label
                    class="font-label text-nowrap"
                    z-form-label
                    for="rememberMe"
                  >
                    Remember me
                  </label>
                </div>
              </z-form-control>
            </z-form-field>

            <button class="text-primary-300 font-label" z-button zSize="sm" zType="link">Forget Password?</button>
          </div>

          <div class="space-y-[4px]">
            <button
              zFull
              z-button
              zType="default"
              type="submit"
              [disabled]="loginForm.invalid"
              [zLoading]="loginFormLoading()"
            >
              Login
            </button>

            <div class="flex flex-row justify-center items-center">
              <p class="font-body">
                Don't have an account?
              </p>
              <button class="text-primary-300 font-body" z-button zSize="sm" zType="link" (click)="goToLRegister()">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="overflow-hidden w-full h-full rounded-[12px] max-lg:hidden">
      <img 
        src="/images/auth/gradient-1.jpg" 
        alt="Gradient Image" 
        class="w-full h-full object-fit-cover"
      >
    </div>
</div>