<div class="min-h-[100dvh] flex items-center justify-center p-4" *transloco="let t">
  <div class="w-full max-w-[440px] bg-card p-8 rounded-3xl border shadow-2xl flex flex-col">
    <!-- Logo -->
    <div class="flex justify-center mb-8">
      <logo [wText]="true" />
    </div>

    <div class="w-full space-y-8">
      <!-- Title -->
      <div class="text-center space-y-2">
        <h1 class="text-3xl font-bold tracking-tight text-foreground">
          {{ t('auth.login.title') }}
        </h1>
        <p class="text-muted-foreground font-medium">
          {{ t('auth.login.subtitle') }}
        </p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <!-- Email Control -->
        <z-form-field>
          <label class="font-semibold text-sm mb-1 block" z-form-label zRequired>
            {{ t('auth.login.email') }}
          </label>
          <z-form-control>
            <input z-input type="email" [placeholder]="t('auth.login.emailPlaceholder')" formControlName="email"
              [zStatus]="emailControl.invalid && emailControl.touched ? 'error' : undefined" class="h-11" />
          </z-form-control>

          @if (emailControl.hasError('required') && emailControl.touched) {
          <z-form-message class="text-xs mt-1" zType="error">{{ t('auth.login.emailRequired') }}</z-form-message>
          } @else if (emailControl.hasError('email') && emailControl.touched) {
          <z-form-message class="text-xs mt-1" zType="error">{{ t('auth.login.emailInvalid') }}</z-form-message>
          }
        </z-form-field>

        <!-- Password Control -->
        <z-form-field>
          <div class="flex items-center justify-between mb-1">
            <label class="font-semibold text-sm" z-form-label zRequired>
              {{ t('auth.login.password') }}
            </label>
            <button type="button" class="text-xs font-medium text-primary hover:underline" zType="link">
              {{ t('auth.login.forgotPassword') }}
            </button>
          </div>
          <z-form-control>
            <z-input-group [zAddOnAfter]="showPasswordIcon">
              <input z-input [type]="showPassword() ? 'text' : 'password'"
                [placeholder]="t('auth.login.passwordPlaceholder')" formControlName="password"
                [zStatus]="passwordControl.invalid && passwordControl.touched ? 'error' : undefined" class="h-11" />
            </z-input-group>

            <ng-template #showPasswordIcon>
              <button type="button" (click)="togglePasswordVisibility()"
                class="flex items-center justify-center p-2 text-muted-foreground hover:text-foreground transition-colors">
                <ng-icon [name]="showPassword() ? 'lucideEyeOff': 'lucideEye'" />
              </button>
            </ng-template>
          </z-form-control>
          @if (passwordControl.hasError('required') && passwordControl.touched) {
          <z-form-message class="text-xs mt-1" zType="error">{{ t('auth.login.passwordRequired') }}</z-form-message>
          } @else if (passwordControl.hasError('minlength') && passwordControl.touched) {
          <z-form-message class="text-xs mt-1" zType="error">{{ t('auth.login.passwordMinLength') }}</z-form-message>
          } @else if (passwordControl.hasError('backend') && passwordControl.touched) {
          <z-form-message class="text-xs mt-1" zType="error">{{ passwordControl.getError('backend') }}</z-form-message>
          }
        </z-form-field>

        <div class="flex items-center space-x-2">
          <z-checkbox id="rememberMe" formControlName="rememberMe" zSize="lg" />
          <label for="rememberMe" class="text-sm font-medium leading-none">
            {{ t('auth.login.rememberMe') }}
          </label>
        </div>

        <div class="pt-2">
          <button zFull z-button zType="default" zSize="xl" type="submit" [disabled]="loginForm.invalid"
            [zLoading]="loginFormLoading()" class="h-11 w-full font-bold">
            {{ t('auth.login.submit') }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>